:root {
  --w: #ffffff;
  --c1: #f7f7f7;
  --c2: #ededed;
  --c3: #dedede;
  --c4: #cccccc;
  --c5: #b2b2b2;
  --c6: #9c9c9c;
  --c7: #717171;
  --c8: #595959;
  --c9: #404040;
  --c10: #2e2e2e;
  --c11: #111111;
  --c12: #000000;
  --p1: #ffbb00;
  --p2: #e4a30b;
  --p3: #a66f00;
  --p4: #664400;
  --p5: #332200;
  --g: linear-gradient(180deg, #ffbf00 0%, #f2a50c 100%);
}
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}
h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}
ul,
li,
a {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}
