.header-bg {
  background: #000000;
}
.header {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.header-menu {
  display: flex;
  flex-wrap: wrap;
  gap: 5px 40px;
}
.header-menu a {
  display: inline-block;
  padding: 16px 0;
  color: var(--w);
  font-size: 1.125rem;
  line-height: 1rem;
  position: relative;
}
.header-menu a::after {
  content: "";
  background: var(--w);
  display: block;
  height: 2px;
  width: 0px;
  margin-top: 4px;
  transition: 0.3s;
  position: absolute;
}
.header-menu a:hover::after {
  width: 100%;
}

@media (max-width: 800px) {
  .header-menu {
    gap: 5px 20px;
  }
  .header-menu a {
    background: var(--c9);
    padding: 12px 16px;
    border-radius: 5px;
  }
  .header-menu a:hover {
    background: var(--c10);
  }
  .header-menu a::after {
    display: none;
  }
}

@media (max-width: 600px) {
  .header-menu {
    gap: 5px 12px;
  }
  .header-menu a {
    font-size: 0.875rem;
  }
}
